@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";


@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

:root {
    --prim-color:#4b70f5;
    --prim-light:#a9baf989;
    --whit-color:#ffffff;
    --blac-color:#000000;

    --Unbounded:"Unbounded", sans-serif;
    --Merienda:"Merienda", cursive;


    --transition-regular: 0.3s;
    --transition-slow: 0.3s;
}

*{
  scroll-behavior: smooth;
}

.unbounded{
  font-family: var(--Unbounded);
}
.merienda{
  font-family: var(--Merienda);
}


/* Navbar */
.menu-link a{
  font-weight: 600;
  transition: var(--transition-regular);
}

.menu-link a:hover {
  color: var(--prim-color);
}

.fixed-nav {
  animation: Anim-fixed var(--transition-slow) forwards linear;
  box-shadow:  0 2px 10x rgba(131, 131, 131, 0.6);
}

.fixed-nav .nav-button {
  padding: 25px 20px !important;
}

@keyframes Anim-fixed {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


.Hero {
  width: 100%;
  height: 60vh;
  border-radius: 20px;
  background-size: cover;
  background-position: 50% center;
}

.hero-swiper {
  padding: 40px 0;
}

/* .hero-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.32;
} */

.hero-wrap h1{
  opacity: 0;
  animation: Anim-top var(--transition-slow) 1s forwards linear;
}

.hero-wrap p{
  opacity: 0;
  animation: Anim-top var(--transition-slow) 0.8s forwards linear;
}

.hero-wrap button{
  opacity: 0;
  animation: Anim-top var(--transition-slow) 0.6s forwards linear;
}

@keyframes Anim-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Anim-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.category-wrap:hover img{
    transform: scale(1.1);
}

.ctg-swiper {
  padding: 30px 10px !important;
}

/* Deals */

.deal-swiper {
  padding: 30px 0 !important;
}
.deals-wrap {
  background-image: url(../public/images/Deals-bg.jpg);
  background-position: right center;
  background-size: cover;
}

.product-wrap img{
  transition: var(--transition-regular);
}

.product-wrap:hover img {
  transform: scale(1.1);
}

/* Offers Banner */
.offer-wrap {
  position: relative;
  z-index: 5;
}

.off-product {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Banner  */

.banner {
  background-color: var(--prim-color);
  background-image: url(../public/images/delivery-bg.9aff35c1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* MQ Section */

@media (max-width:991px) {
  .Hero {
      height: 100%;
  }

  .hero-wrap h1 {
    font-size: 2.5rem;
  }

  .category-info h2{
    font-size: 1rem;
  }
  .banner-img1 {
    width: 30%;
  }
  .banner-img2 {
    width: 30%;
    top: 40%;
  }
} 


@media (max-width:575px) {
    .swiper-button-prev-custom,
    .swiper-button-next-custom {
      display: none;
    }

    .hero-wrap h1 {
      font-size: 2rem;
    }
    .hero-wrap p {
      width: 100%;
    }
    .banner-content h2 {
      font-size: 2.8rem;
      line-height: 3.5rem;
    }

    .banner-img1,
    .banner-img2 {
      display: none;
    }
    .banner h1 {
      font-size: 1.6rem;
      line-height: 3rem;
    }
}


/* short Product */
.short-product-title h2{
  position: relative;
}

.short-product-title h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background-color: var(--prim-light);
} 
.short-product-title h2::before {
  content: '';
  position:absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  width: 45%;
  height: 3px;
  background-color: var(--prim-color);
  z-index: 9999;
}

.short-product:hover img {
  border-color: var(--prim-color);
  transition: var(--transition-regular);
}

/* Swiper Linear Animation (Brands Section Smooth Scroll) */
.brands-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}